:root {
    --gray-1: #191c1f;
    --gray-2: #212529;
    --gray-3: #343a40;
    --gray-4: #adb5bd;
    --gray-5: #ced4da;
    --gray-6: #edf2ff;
    --gray-7: #f8f9fa;
    --brand-1: #4C6EF5;
    --brand-2: #364fc7;
    
}

header{
    background-color: var(--gray-1);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--gray-1);
    border-bottom: 1px solid var(--brand-1);
    z-index: 3;
    display: flex;
    justify-content: center;
    max-width: 1256px;
    margin: 0 auto;
}

footer{
    background-color: var(--gray-1);
    text-align: center;
    padding: 20px 75px 20px 75px;
}


button{
    background-color: var(--brand-1);
}

html{
    width: 100%;
    overflow-x: hidden;
    max-width: 1256px;
    margin: 0 auto;
}

span{
    color: var(--brand-1);
}

h1{
    font-size: 38px;
    color: var(--gray-6);
}
